Client {
    layout: vertical;
    content-align: center middle;
    margin: 1;
    padding: 2;
}

SearchScreen{
    align: center middle;
    content-align: center middle;
    padding: 2 2;
    background: #272822
}

SearchBox {
    height: 3;
    background: rgb(46, 46, 46);
    color: rgb(214, 214, 214);
}

AnsiArt {
    content-align: center middle;
    align: center middle;
}

ResultScreen {
    padding: 1 1;
    content-align: center middle;
    background: #272822
}

QuestionScreen {
    content-align: center middle;
    background: #272822
}

FilterMenu {
    height: 3;
    align: center middle;
    layout: horizontal;
}

#ResultContainer {
    height: 6;
    content-align: left middle;
    border: #E69F66;
    background: #272822
}

#ResultContainer:hover {
    border: double #E69F66
}

#ResultContainer.hover {
    border: double #E69F66
}

#ResultContainer.accepted {
    border: #A6E22E;
    background: #272822;
}

#ResultContainer.accepted.hover {
    border: double #A6E22E;
}

ResultInfo {
    width: 10%;
    padding-left: 2;
    content-align: left middle;
}

ResultBox {
    width: 90%;
    content-align: left middle
}


Vertical {
    padding: 2 2;
    height: auto;
}

#QuestionSection {
    height: auto;
    padding: 1 1;
    border: #E69F66;
    background: #272822
}

QuestionContainer {
    height: auto;
    overflow: auto;
}

#AnswerContainer {
    padding: 1 1;
    height: auto;
    overflow: auto;
    border: #E6DB74;
    background: #272822
}

QuestionTitle {
    padding: 1 2;
    border: double #F92672;
    text-align: center;
    text-style: bold;   
}

CommentContainer {
    padding-left: 2;
    height: auto;
    width: auto;
}

CommentText {
    padding: 1;
    height: auto;
    width: 50%;
    border: #66D9EF;
    dock: left;
}